.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(179, 200, 202);
}

.gohome {
  align-items: center;
  color: rgb(0, 0, 0);
}

.toolbar {
  color: rgb(0, 0, 0);
  background-color: rgb(179, 200, 202);
}

.toolbar-title {
  font-family: 'cogley';
  font-size: fit-content;
  color: black;
  text-align: center;
}

.footer {
  background-color: rgb(179, 200, 202);
  text-align: center;
  padding: 10px;
  position: sticky;
  width: 100%;
}

.header {
  font-family: 'stem-regular';
  font-size: x-large;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(360deg, #afeeee, #f9966b);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 95vw;
  height: fit-content;
}

.introtextbox {
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  max-width: 66vh;
  max-height: 50vh;
}

.links {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: center;
}

.linkbox {
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: fit-content;
  max-width: 38vw;
}

.linklabelbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.linklabel {
  font-family: 'stem-regular';
  font-size: 'small';
}

.box {
  display: flex;
  flex-direction: table-column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 95vw;
}

.chaosbox {
  display: flex;
  flex-direction: table-column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 95vw;
}

.labelbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: table-row;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.label {
  font-family: 'algoria-light';
  font-size: large;
}

.textbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-width: 10%;
  max-width: fit-content;
  height: fit-content;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #afeeee;
  border-radius: 10px;
  padding: 15px;
  width: 95vw;
  height: fit-content;
}

.skillbox {
  display: flex;
  height: fit-content;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  min-width: fit-content;
  max-width: 33%;
}

.skilllabelbox {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.skilllabel {
  font-family: 'algoria-light';
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.skilltext p {
  background-color: rgb(255, 255, 255);
  display: flex;
  font-family: 'algoria-light';
  font-size: medium;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

@font-face {
  font-family: cocogoose;
  src: url('./fonts/Cocogoose Pro Regular Trial.ttf');
}

@font-face {
  font-family: algoria-light;
  src: url('./fonts/AlgoriaLight-nRGdJ.ttf');
}

@font-face {
  font-family: sunnyspells;
  src: url('./fonts/SunnyspellsRegular-MV9ze.otf');
}

@font-face {
  font-family: stem-regular;
  src: url('./fonts/Stem-Regular.otf');
}

@font-face {
  font-family: ignite;
  src: url('./fonts/IgnitetypepersonaluseRegular-K791Z.otf');
}

@font-face {
  font-family: aloevera;
  src: url('./fonts/Aloevera-OVoWO.ttf');
}

@font-face {
  font-family: cogley;
  src: url('./fonts/Cogley-1jjo4.ttf');
}
