.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gohome {
  align-items: center;
}

.box {
  background-color: rgb(219, 214, 214);
  display: flex;
  flex-direction: table-column;
  align-items: center;
  height: 50px;
  width: 400px;
}
