.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.gohome {
  align-items: center;
  color: rgb(0, 0, 0);
}

.toolbar {
  color: white;
  background-color: #5b8eab;
}

.footer {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  position: sticky;
  width: 100%;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: linear-gradient(135deg, #f5c3cc, #d3d3d3);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 95vw;
  height: fit-content;
}

.header {
  font-family: 'algoria-light';
  font-size: x-large;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkbox {
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: fit-content;
}

.linklabelbox {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: table-row;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.linklabel {
  font-family: 'stem-regular';
  font-size: 'small';
}

.box {
  display: flex;
  flex-direction: table-column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 95vw;
}

.labelbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: table-row;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.label {
  font-family: 'algoria-light';
  font-size: large;
}

.textbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-width: 10%;
  max-width: 50%;
}

@font-face {
  font-family: cocogoose;
  src: url('./fonts/Cocogoose Pro Regular Trial.ttf');
}

@font-face {
  font-family: algoria-light;
  src: url('./fonts/AlgoriaLight-nRGdJ.ttf');
}

@font-face {
  font-family: sunnyspells;
  src: url('./fonts/SunnyspellsRegular-MV9ze.otf');
}

@font-face {
  font-family: stem-regular;
  src: url('./fonts/Stem-Regular.otf');
}

@font-face {
  font-family: ignite;
  src: url('./fonts/IgnitetypepersonaluseRegular-K791Z.otf');
}
